@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
}

*::selection{
    background-color: var(--main-color);
    color:#ffffff;
}

:root{
    --main-color:rgb(3, 89, 123);
    --text-color:#1e1c2a;
    --bg-color:#EFF6E0;
    --big-font:4rem;
    --h2-font:2.24rem;
    --pp-font:0.9rem;
}

section{
    padding:50px 10%;
}
body.active{
    --bg-color:#1e1c2a;
    --text-color:#fff;
}
body{
    color:var(--text-color);
    background-color: var(--bg-color);
}

#darkmode{
    font-size:25px;
    cursor:pointer;
}


header{
    position:fixed;
    width:100%;
    top:0;
    right:0;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:var(--bg-color);
    padding:18px 100px;
    box-shadow:0 0.5rem 50rem rgba(0,0,0,0.1);
}

.logo{
    font-size:2.2rem;
    font-weight: 600;
    color:var(--main-color);
}

.navbar{
    display:flex;
}
.navbar a {
    font-size:1rem;
    padding:10px 20px;
    color:var(--text-color);
    font-weight:500;

}

.navbar a :hover{
    background-color:none;
    color:var(--main-color);
    
}
#menu-icon{
    font-size:2rem;
    cursor:pointer;
    display:none;
}





.box4{
    background-color: #EFF6E0;
    color:black;
    padding:50px;
    text-align:left;
    flex: 5;
    font-size: 17px;
}

.top{
    font-size: 70px;
    font-style: bold;

}

.block{
    margin-left: 100px;
    margin-right: 100px;
}

.copyright{
    padding:20px;
    text-align:center;
    background-color: rgb(87, 108, 81);
    color: white;
}